In [100]:
from sklearn import preprocessing
import numpy as np
import pandas as pd

In [101]:
DF = pd.read_csv('../output/D3_pkgs_data.csv')
DF.drop('index', axis=1, inplace=True)

In [83]:
DF.head()

,package,github_repo,tags,search_terms,so_questions_counts,downloads,dl_growth_rates,so_tag_counts,forks,stars
0,billboard,mick/billboard,[billboard],[billboard-d3],0,445.0,0.064440,0,6.0,12.0
1,britecharts,eventbrite/britecharts,[britecharts],[britecharts],0,6445.0,1.105581,0,91.0,2571.0
2,bullet chart,stefanwalther/qvD3BulletCharts,[bullet-chart],[bullet-chart],11,584.0,-0.042785,11,6.0,7.0
3,cirrus.js,NaN,[cirrus.js],[cirrus.js],0,NaN,NaN,0,NaN,NaN
4,cubism,square/cubism,[cubism.js],[cubism],0,6309.0,-0.057777,92,541.0,4554.0

In [46]:
DF.size

1350

In [102]:
nanDF = DF[pd.isnull(DF).any(axis=1)]

In [103]:
nanDF.head()

,package,github_repo,tags,search_terms,so_questions_counts,downloads,dl_growth_rates,so_tag_counts,forks,stars
3,cirrus.js,NaN,[cirrus.js],[cirrus.js],0,NaN,NaN,0,NaN,NaN
20,d3-message-sequence,koudelka/d3-message-sequence,[d3-message-sequence],[d3-message-sequence],0,NaN,NaN,0,3.0,52.0
24,d3panels,kbroman/d3panels,[d3panels],[d3panels;d3-panels],78,NaN,NaN,0,2.0,24.0
26,d3xter,NathanEpstein/D3xter,[d3xter],[d3xter],0,NaN,NaN,0,15.0,347.0
32,fancycharts,ahoiin/Fancycharts.js,[fancycharts],[fancycharts],0,NaN,NaN,0,7.0,90.0

In [104]:
DF.dropna(axis=0, how='any', inplace=True)
DF.reset_index(inplace=True)

In [105]:
DF.head()

,index,package,github_repo,tags,search_terms,so_questions_counts,downloads,dl_growth_rates,so_tag_counts,forks,stars
0,0,billboard,mick/billboard,[billboard],[billboard-d3],0,445.0,0.064440,0,6.0,12.0
1,1,britecharts,eventbrite/britecharts,[britecharts],[britecharts],0,6445.0,1.105581,0,91.0,2571.0
2,2,bullet chart,stefanwalther/qvD3BulletCharts,[bullet-chart],[bullet-chart],11,584.0,-0.042785,11,6.0,7.0
3,4,cubism,square/cubism,[cubism.js],[cubism],0,6309.0,-0.057777,92,541.0,4554.0
4,5,colajs,WPAdictos/ColaJS,[colajs],[cola-js;colajs],39,360.0,0.034011,0,0.0,0.0

In [68]:
DF.size

1122

In [106]:
DF_pre_scaled = DF[['forks', 'stars','so_tag_counts','so_questions_counts','downloads','dl_growth_rates']]

In [107]:
DF_scaled = pd.DataFrame(preprocessing.scale(DF_pre_scaled), columns=DF_pre_scaled.columns)

In [108]:
DF_scaled['package'] = DF['package']

In [91]:
DF_scaled.tail()

,forks,stars,so_tag_counts,so_questions_counts,downloads,dl_growth_rates,package
97,0.003985,0.042593,-0.099523,-0.155066,-0.210043,0.239671,d3plus
98,-0.507933,-0.539773,-0.099558,-0.158765,-0.213062,-0.485787,d3plus-text
99,-0.417960,-0.385296,-0.099558,-0.158765,-0.215049,-0.714681,graph-scroll
100,-0.501728,-0.537950,-0.099558,-0.158765,-0.214893,-0.532445,jsdoc2diagram
101,1.750711,5.632034,-0.099543,-0.158765,-0.201983,0.270179,mermaid

In [109]:
DF_scaled['overall_score'] = DF_scaled.sum(axis=1)

In [110]:
DF_scaled.sort_values(['overall_score'], axis=0, ascending=False, inplace=True, na_position='last')

In [94]:
#DF_scaled.append(nanDF[['package', 'forks', 'stars','so_tag_counts','so_questions_counts','downloads','dl_growth_rates']])

In [111]:
DF_scaled.sort_values(['overall_score'], axis=0, ascending=False, inplace=True, na_position='last')

In [113]:
DF_scaled.head()

,forks,stars,so_tag_counts,so_questions_counts,downloads,dl_growth_rates,package,overall_score
33,1.673147,2.483702,-0.098164,7.007116,-0.167897,-0.074249,plotly.js,10.823655
34,0.044318,0.438128,-0.099519,6.994133,-0.207651,2.701743,plottable,9.871152
70,-0.455190,-0.511521,-0.099558,-0.158765,8.945481,0.074533,react d3 map,7.794980
31,5.914310,2.228518,-0.098309,-0.006967,-0.083324,-0.194725,nvd3,7.759503
10,-0.445883,-0.522001,10.049875,-0.158765,-0.215050,-1.112069,d3.chart.sankey,7.596107

In [ ]:
DF_scaled = DF_scaled.append(nanDF[['package', 'forks', 'stars','so_tag_counts','so_questions_counts','downloads','dl_growth_rates']])

In [114]:
final_DF = pd.DataFrame(columns=['Package', 'Rank', 'Overall', 'Github', 'Stack Overflow', 'Downloads'])
final_DF['Package'] = DF_scaled['package']
final_DF['Github'] = DF_scaled[['forks', 'stars']].mean(axis=1)
final_DF['Stack Overflow'] = DF_scaled[['so_tag_counts', 'so_questions_counts']].mean(axis=1)
final_DF['Downloads'] = DF_scaled[['downloads','dl_growth_rates']].mean(axis=1)
final_DF['Overall'] = final_DF[['Github','Stack Overflow','Downloads']].sum(axis=1)
final_DF['Rank'] = final_DF['Overall'].rank(ascending=0).astype(int)

In [115]:
final_DF.sort_values(['Overall'], axis=0, ascending=False, inplace=True)

In [116]:
final_DF.head()

            Package  Rank   Overall    Github  Stack Overflow  Downloads
33        plotly.js     1  5.411827  2.078424        3.454476  -0.121073
34        plottable     2  4.935576  0.241223        3.447307   1.247046
70     react d3 map     3  3.897490 -0.483355       -0.129161   4.510007
31             nvd3     4  3.879751  4.071414       -0.052638  -0.139025
10  d3.chart.sankey     5  3.798054 -0.483942        4.945555  -0.663560

In [117]:
final_DF.style.set_table_styles([
    {'selector': '.row_heading, .blank', 'props': [('display', 'none;')]}
])

In [119]:
final_DF.to_csv('../output/D3_only_final_Rankings.csv', index = False)